<div class="container">
  <div class="card front">
    <div id="tagline"><%= data.company.tagline %></div>
    <a href="https://<%= data.company.url %>" target="_blank" id="icook">
      <img src="images/icook.svg" alt="iCook" class="company-img">
      <div class="icook-url"><%= data.company.url %></div>
    </a>
    <img src="images/logo-white.svg" alt="iCook" class="logo">
  </div>
  <div class="card back">
    <div class="stripe"></div>
    <div class="top">
      <span id="position"><%= data.me.position %></span>
      <img src="images/logo-polydice.svg" alt="Polydice" class="icon">
    </div>
    <div class="bottom">
      <div class="name"><%= data.me.nickname %></div>
      <div class="name"><%= data.me.fullname %></div>
      <ul>
        <% (data.me.info || []).each do |item| %>
          <a href="<%= item.url %>" target="_blank">
            <li>
              <i class="fa <%= item.icon %>"></i><span><%= item.value %></span>
            </li>
          </a>
        <% end %>
      </ul>
      <ul>
        <li><%= data.company.name %></li>
        <li><%= data.company.address %></li>
      </ul>
    </div>
  </div>
</div>
<div class="qrcode">
  <%= generate_qrcode data.me.portfolio || "" %>
</div>
